.container
  width 100%
  img
    &:last-child
      display none
  &:hover
    img
      &:first-child
        display:none
    img
      &:last-child
        display inline-block

.image
  width 100%
